.card-movie {
  display: flex;
  flex-direction: column;
}

.card-movie-image {
  border-radius: 5px;
  height: 300px;
  width: 200px;
}

.card-movie-info {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  padding-top: 1rem;
  gap: 0.3rem;
}

.info-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.info-data {
  font-size: 0.8rem;
  color: #666;
  font-weight: bold;
}
